# NextAuth Configuration
NEXTAUTH_SECRET=tu_secreto_super_seguro_aqui_cambialo_en_produccion
NEXTAUTH_URL=http://localhost:3000

# Vercel KV Configuration (para desarrollo local)
KV_URL=redis://localhost:6379
KV_REST_API_URL=http://localhost:8080
KV_REST_API_TOKEN=tu_token_aqui
KV_REST_API_READ_ONLY_TOKEN=tu_token_readonly_aqui 